body {
    background-color: #280028;
    font-family: "Blackadder ITC";
    font-size: 200%;
}

h1 {
    color: #F0F8FE;
    text-align: center;
}

h2 {
    margin-top: 6px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #f0f8fe;
    align-items: center;
}

.border {
    border: 100px yellow;
    background-color: #392A4B;
    border-radius: 70px;
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

}

.border2 {
    border: 100px yellow;
    background-color: #392A4B;
    border-radius: 70px;
    width: 800px;
    height: 100px;
    font-size: 85px;
}

    .center{ 
        display:block;
        margin-left: auto;
        margin-right: auto;
        width:20%;
        position: relative;
        display: flex;
   }

 .container {
  display: flex;
  background-color: #392A4B;
  justify-content: center;
}

.container div {
  background-color: #280028;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.container2 {
  display: flex;
  background-color: #392A4B;
  justify-content: center;
}

.container2 div {
  background-color: #280028;
  margin: 10px;
  padding: 20px;
  font-size: 85px;
}