@font-face {
    font-family: 'vag rounded';
    src: '/fonts/VAG_Rounded_Regular.ttf';
}

:root {
    --t-font: 'vag rounded';
    --p-font: 'maax';
}

* {
    margin: 0;
    padding: 0;
}

/* logo style */
#logo-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}


/* menu styling */
#menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
    padding-left: 5vw;
    height: 12vh;
    background-color: rgb(0,47,92);
    list-style: none;
    margin-bottom: 2vh;
    width: 90vw;
}

li > a:hover {
    background-color: white;
    color: rgb(0,47,92);
    border-radius: 1px solid white;
    border-radius: 10px;
}

li > a {
    width: 4vw;
    font-family: var(--t-font), 'arial', sans-serif;
    color: gray;
    text-decoration: none;
}

/* picture styling */
#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#grid-container > a {
    text-decoration: none;
}

.person-grid {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    width: 20vw;
    height: 50vh;
    border-radius: 10px;
    color: black;
}

.person-grid img {
    width: 20vw;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
    height: 40vh;
    object-fit: cover;
}

.person-grid p {
    font-size: 20px;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    
}

.person-grid p:first-of-type {
    border-bottom: 2px dashed black;
    background-color: rgb(243,231,5);
}

.person-grid p:last-of-type {
    background-color: rgb(0,181,136);
}

#foto-dyllan {
    object-position: top 40% right 0;   
}

/* footer styling */
#index-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220,0,106);
    height: 31.75vh;
}

#footer-center-container > P {
    font-size: 20px;
    text-align: center;
}

#contact-button {
    width: 30vw;
    height: 10vh;
    background-color: rgb(0,47,92);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh auto 0 auto;
}

#contact-button a {
    text-decoration: none;
    color: white;
    line-height: 5vh;
    font-size: 40px;
}

/* joshua.html */
#josh-body {
    font-family: 'Space Mono';
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 25%, rgba(41, 166, 25, 1) 66%);
}

.joshua-italic {
    font-style: italic
}

#joshua-text {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 33vw;
    height: 33vh;
    border: 2px solid gray;
    display: flex;
    flex-flow: column wrap;
}

#joshua-text h1 {
    font-size: 5vh;
}

#joshua-text h2 {
    font-size: 3vh;
}

#joshua-text p {
    font-size: 1.5vh;
}

.joshua-img {
    object-fit:  contain;
    height: 30vh;
    width: 30vw;
}

#joshua-grid {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 33vh 33vh 33vh;
}

#joshua-grid ul {
    list-style: none;
}

#joshua-text h1, #joshua-text h2, #joshua-text p, #joshua-text ul {
    padding-right: 1vw;
}

.joshua-img:nth-of-type(7) {
    margin-top: 1vh;
}

/* contact pagina */
#contact-text {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 10vh;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3vh;
}

input[type="submit"] {
    width: 10vw;
    height: 5vh;
    font-size: 3vh;
}

/* mylan-rossel.html */
#mylan-body {
    margin: 0;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#Body_myl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Body_myl::before {  /*Styling for background*/
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(https://i.redd.it/laxq3hqi3kp31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    z-index: -1;
}

#Header_myl,
#Aside_myl,
#Main_myl {
    display: flex;
}

.text-margin {
    margin-left: 10px;
    margin-right: 10px;
}

#Header_myl {                       /*Styling for header*/
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.7vw;
    letter-spacing: 0.7em;
    word-spacing: 0.5em;
    color: rgb(184, 184, 184);
    background-color: rgba(69, 11, 11, 0.9);
    border-radius: 70px;
    min-width: 95%;
}

#Header_text {
    margin: 10px;
}

#Nav_myl {                  /*Styling for navigation*/
    display: flex;
    align-items: end;
    flex-direction: row;
    margin-top: 10px;
    background-color: rgba(133, 133, 133, 0.7);
    border-radius: 10px;
    width: 95%;
}

.home:link {
    justify-self: start;
    border-radius: 10px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-right: 15vw;
    background-color: rgb(104, 4, 4);
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
}

.home:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.home:hover {
    color: rgb(169, 169, 169);
    text-decoration: underline;
}

.home:active {
    color: rgb(69, 69, 69);
    text-decoration: underline;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    min-width: 50vw;
    max-width: 60vw;
    padding: 5px 5px;
    text-align: center;
    background-color: rgb(81, 15, 15);
    border-radius: 20px;
}


.linkstyle:link {
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

.linkstyle:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.linkstyle:hover {
    color: rgb(169, 169, 169);
    text-decoration: underline;
}

.linkstyle:active {
    color: rgb(69, 69, 69);
    text-decoration: underline;
}

#content-bottom {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 95%;
}

#Aside_myl {                    /*Styling for the sidebar*/
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(137, 137, 137, 0.7);
    border-radius: 20px;
    color: rgb(104, 4, 4);
    padding-top: 20px;
    width: 300px;
}

#Profilepicture_myl {
    align-self: center;
    border-radius: 60px;
    width: 70%;
    border: solid 5px rgba(83, 83, 83, 0.6);
}

#Main_myl {                 /*Styling for the main content*/
    background-color: rgba(83, 83, 83, 0.6);
    color: rgb(180, 180, 180);
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
}

.marginbottom {
    margin-bottom: 5px;
}

.margintop {
    margin-top: 7px;
}

#bottom-page {
    margin-bottom: 10px;
    margin-top: 5px;
}

/* jur-jansen.html */
#JurBody {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#JurLogo {
    padding-left: 0px;
    width: 250px;
}

.JurH1, img.JurPfp {
    display: block;
    margin: 5px auto;
}

.JurH1 {
    font-size: 60px;
    font-family: Impact;
}

img.JurPfp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;  /* space outside image, doesn't affect border */
    transition: transform 0.3s, box-shadow 0.3s;
    border: 3px solid transparent;
}


img.JurPfp:hover {
    transform: scale(1.1);
    border-color: white;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
}


.JurContent {
    max-width: 600px;
    margin: 0 auto;
}

.JurContent img.main-photo {
    display: block;
    margin: 20px auto;
}

.JurContent ul {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    margin: 0px auto;
    margin-bottom: 10px;
    list-style-position: inside;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgrey;
    padding: 8px;
}

.JurContent ul ul {
    padding-top: 2px;
    display: block;
    margin-top: 0   px;
    padding-left: 20px;
    list-style-position: inside;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

#JurFooter {
    background-color: #222;
    color: #aaa;
    padding: 21.5px;
    text-align: center;
}

#JurFooter p {
    margin: 0 0 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.footer-btn img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    transition: transform 0.2s ease;
}

img.JurPfp:hover {
    transform: scale(1.15);
}

#JurNav .btn {
  background-color: lightgray;
  color: black;
  padding: 30px 40px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

#JurNav .btn:hover {
  background-color: darkgray;
}

#JurLogo {
    height: 180px;
}

/* dyllan-verbunt.html */
#dyllan-body {
    background-color: #280028;
    font-family: "Blackadder ITC";
    font-size: 200%;
}

.dyllan-h1 {
    color: #F0F8FE;
    text-align: center;
}

.dyllan-p {
    color: #f0f8fe;
    align-items: center;
}

.border {
    display: flex;
    background-color: #392A4B;
    border-radius: 70px;
    width: 400px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.border2 {
    background-color: #392A4B;
    border-radius: 70px;
    width: 800px;
    height: 100px;
    font-size: 85px;
}

.center {
    display: block;
    width: 80%;
    position: relative;
    display: flex;
}


.profielmain {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.profiel1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.profiel2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.vrijetijdmain {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.vrijetijd1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.vrijetijd2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.fotomain {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.foto1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.foto2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.container {
    display: flex;
    background-color: #280028;
    justify-content: center;
}

.container div {
    background-color: #280028;
    margin: 5px;
    padding: 5px;
    font-size: 40px;
}

.container2 {
    display: flex;
    background-color: #392A4B;
    justify-content: center;
}

.container2 div {
    background-color: #280028;
    margin: 20px;
    padding: 30px;
    font-size: 85px;
}

/* media queries index */
@media screen and (orientation: landscape) and (max-width: 932px) and (min-width: 480px) {

    #menu {
        height: 20vh;
        padding-top: 1vh;
    }

    #index-footer {
        height: 20vh;
        padding-bottom: 3vh;
        padding-top: 2vh;
    }

    /* contact.html */

    #contact-button {
        width: 35vw;
    }

    /* joshua.html */
    #joshua-grid {
        grid-template-rows: 33vh 35vh 33vh;
    }

    #ace-4 {
        display: none;
    }

    #ace-5 {
        display: none;
    }

    #joshua-text {
        grid-column: 1 / 4;
        width: 100vw;
        flex-flow: row wrap;
        gap: 1vw;
    }

    #joshua-text h2, #joshua-text p, #joshua-text ul {
        font-size: 3vh;
    }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
    body {
        overflow: scroll;
    }
    
    #menu {
        flex-flow: column nowrap;
        height: 100vh;

    }

    #menu li {
        border-bottom: 1px solid black;
        width: 100vw;
    }

    #menu li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        line-height: 15vh;
    }

    #logo-img {
        object-fit: cover;
        width: 25vw;
        height: 20vh;
    }

    #grid-container {
        padding-top: 0;
        margin: 3vh;
        display: flex;
        flex-flow: column nowrap;
        gap: 3vh;
    }

    .person-grid {
        width: 90vw;
    }

    .person-grid img {
        width: 90vw;
    }

    #contact-button {
        width: 65vw;
    }

    /* contact.html */
    textarea {
        height: 15em;
        width: 30em;
    }

    input[type="submit"] {
        width: 30vw;
        height: 5vh;
        margin-bottom: 3vh;
    }

    /* joshua.html */

    #joshua-grid {
        grid-template-rows: 33vh 40vh 33vh;
    }

    #ace-2, #ace-3, #ace-5, #ace-6, #ace-7, #ace-8 {
        display: none;
    }

    #ace-1 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #joshua-text {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        width: 100vw;
        height: 40vh;
        display: block;
    }

    #ace-4 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
}

/* media queries Mylan */
@media (max-width: 569px) {     /*First breakpoint*/
    #Header_myl {
        border-radius: 20px;
    }

    #Nav_myl {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(133, 133, 133, 0.7);
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
        margin-bottom: 0;
        width: 85%;
    }

    .home:link {
        display: flex;
        margin-right: 0vw;
    }

    .name {
        justify-content: center;
        flex-direction: column;
    }

    #Aside_myl {
        width: 95%;
        align-items: center;
        margin-left: 0;
        margin-bottom: 20px;
    }

    #Main_myl {
        width: 95%;
        margin: 0;
    }

    #content-bottom {
        flex-direction: column;
        align-items: center;
    }
} 

@media (max-width: 400px) {     /*Second breakpoint*/
    #Header_myl{
        display: none;
    }
}

/* media queries jur */
@media (max-width: 800px) {
    #JurHeader {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    #JurNav {
        flex-wrap: wrap;
        justify-content: center;
    }

    #JurNav .btn {
        font-size: 18px;
        padding: 12px 18px;
        border-radius: 14px;
    }

    #JurLogo {
        width: 180px;
        height: auto;
    }

    .JurH1 {
        font-size: 42px;
    }

    img.JurPfp {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 390px) {
    #JurNav {
        flex-direction: column;
        width: 100%;
    }

    #JurNav .btn {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border-radius: 12px;
    }

    #JurLogo {
        width: 140px;
        height: auto;
    }

    .JurH1 {
        font-size: 32px;
    }

    img.JurPfp {
        width: 160px;
        height: 160px;
    }

    .JurContent ul {
        font-size: 16px;
        padding: 6px;
    }
}

/* media queries dylan verbunt */
@media only screen and (max-width: 900px) {
    #dyllan-p {
        color: white;
        text-align: center;
        font-size: 3vw;
    }

    #dyllan-h1 {
        color: white;
        text-align: center;
        font-size: 4vw;
    }

    #dyllan-h2 {
        text-align: center;
        font-size: 3vw;
    }

    #dyllan-body {
        background-color: #280028;
        font-family: "Blackadder ITC";
        font-size: 100%;

    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        position: relative;
        Display: flex;
    }
}

.tab button {
    background-color: #00008B;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 13px;
}

#dyllan-body {
    font-family: Arial;
    background-color: #280028;
}

/* Style the tab */

.tab {
    background-color: #00008B;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #00008B;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* @media is voor responcive design */

@media only screen and (max-width: 650px) {
    #dyllan-p {
        color: white;
        text-align: center;
        font-size: 2vw;
    }

    #dyllan-h1 {
        color: white;
        text-align: center;
        font-size: 3vw;
    }

    #dyllan-h2 {
        text-align: center;
        font-size: 2vw;
    }

    #dyllan-body {
        background-color: #280028;
        font-family: "Blackadder ITC";
        font-size: 200%;

    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        position: relative;
        Display: flex
    }
}